* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #CE3662; 
}

header {
    background-color: #212121;
    color: white;
    height: 25vh;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    overflow: hidden;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    justify-content: flex-start; 
    margin-left: -320px; 
}

.logo {
    max-height: 12vh;
    max-width: 12vh;
    margin-right: 20px;
    height: auto;
}

.header-text h1 {
    color: #CE3662; 
    font-size: 3.5rem;
    font-weight: 700; 
    letter-spacing: -1px;
}

.header-text p {
    color: white; 
    font-size: 1.5rem;
    font-weight: 700; 
    letter-spacing: -0.5px;
}

main {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh; 
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 100%;
}

.left-side {
    width: 60%; 
}

.main-image {
    max-width: 120%; 
    height: auto;
    border-radius: 10px;
    margin-left: -23%; 
}

.right-side {
    width: 35%; 
    color: #212121;
    font-weight: 700;
    margin-left: 5%;
    text-align: left; 
}

.main-text {
    margin-bottom: 20px;
    line-height: 1.4;
    text-align: left; 
    font-size: 1.2rem;
}

.social-buttons {
    margin-top: 20px;
}

.social-button {
    display: inline-block;
    margin-right: 10px;
}

.social-button img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto; 
        padding: 20px;
    }

    .header-content {
        flex-direction: column;
        text-align: center;
        margin-left: 0; 
    }

    .logo {
        max-height: 10vh; 
        max-width: 10vh;
        margin-bottom: 15px; 
    }

    .header-text h1 {
        font-size: 2rem;
    }

    .header-text p {
        font-size: 1rem;
    }

    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .left-side, .right-side {
        width: 100%;
        margin-bottom: 20px;
    }

    .main-image {
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .main-text {
        font-size: 1rem; 
        text-align: left; 
        line-height: 1.4;
    }
}
